@{
    ViewData["Title"] = "Car Details Page";
}
@model VehicleDetails

<center>
    <h1>CAR Details Page</h1>
</center>

<table border="2" bordercolor="grey" align="center">
    <tr>
        <th colspan="2">Book Test Drive</th>
    </tr>
    <tr>
        <th>Car</th>

        <th>Customer Details</th>
    </tr>
    <tr>
        <td>
            Model - @Model.Name <br />
            Displacement    -  @Model.Displacement <br />
            Length  -   @Model.Length <br />
            Width   -   @Model.Width <br />
            Height  -   @Model.Height <br />
            Price  -   @Model.Price <br /><br />
            <img src="@Model.ImageUrl" />
        </td>
        <td>
            @using (Html.BeginForm("AddCustomer", "Customer", FormMethod.Post))
            {
                <div class="form-item">
                    <input type="text" name="Name" id="name" placeholder="Name">
                </div>

                <div class="form-item">
                    <input type="text" name="Email" id="Email" placeholder="Email">
                </div>

                <div class="form-item">
                    <input type="text" name="Phone" id="Phone" placeholder="Phone">
                </div>

                <input type="hidden" name="vehicleId" value="@Model.Id" />

                @*<a href='@Url.Action("AddCustomer", "Customer")'>*@
                    <input type='submit' value='Book Test Drive' />
                @*</a>*@
            }
            </td>

